@{
    ViewBag.Title = "All Shows";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Shows</h2>

<p>
    <h2><a href="/shows/Rookie_Blue/">Rookie Blue</a></h2>
    
    The best show in the world!!!
</p>
